            <!--	End	of	the	page-specific	content. footer.html	--> 
            <div class="col-sm-12 bg-secondary p-5 text-center text-dark">
                <div class="col-sm-3 float-right pt-5">
                    <img src="includes/logo_grey.jpg" alt="logo" width="100px"/>
                </div>
                <div class="col-sm-3 float-right">
                    <h5>Quick Links</h5>
                    <a href="home.php" style="text-decoration: none;" class="text-dark"><p><small>Home</small></p></a>
                    <a href="shop.php" style="text-decoration: none;" class="text-dark"><p><small>Shop</small></p></a>
                    <a href="contact_us.php" style="text-decoration: none;" class="text-dark"><p><small>Contact Us</small></p></a>
                    <a href="my_account.php" style="text-decoration: none;" class="text-dark"><p><small>My Account</small></p></a>
                </div>
                <div class="col-sm-3 float-right">
                    <h5>Contact</h5>
                    <p><small>64B, Hastings, </br> Hawkes Bay, NZ, 4120</small></p>
                    <p><small>+64 (0) 121 0000 256</small></p>
                    <p><small>+64 (0) 121 0000 789</small></p>
                    <p><small>support@emusic.com</small></p>
                </div>
                <div class="col-sm-3 float-right pt-5">
                    <a href="https://www.facebook.com/" style="text-decoration: none;" class="text-dark"><i class="fa fa-facebook-square fa-2x"></i></a></br>
                    <a href="https://nz.linkedin.com/" style="text-decoration: none;" class="text-dark"><i class="fa fa-linkedin fa-2x"></i></a></br>
                    <a href="https://twitter.com/explore/" style="text-decoration: none;" class="text-dark"><i class="fa fa-twitter fa-2x"></i></a></br>
                    <a href="https://www.instagram.com/" style="text-decoration: none;" class="text-dark"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="col-sm-12 bg-dark pt-2 pb-2 text-center text-light">
                <p><small>© 2020 Well Tuned - All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</body>
</html>